.verticalCenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.horizontalCenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}
