.container {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  width: fit-content;
  font-size: var(--base-text-size);
  font-family: var(--font-family);
  font-weight: 500;
}

.radio {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.3rem;
}

.checked {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: var(--color-primary);
}